/* For testing only */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato&family=Lemon&display=swap')

// defaults
html,
body
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
  color: white

.pay
  iframe
    border-radius: 5px